<ul class="nav nav-pills nav-fill bg-dark">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Blog Node</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/categorias">Categorias</a>
  </li>
  {{#if user}}
    <li class="nav-item">
    <a class="nav-link" href="/usuarios/logout">Sair</a>
  </li>
  {{else}}
  <li class="nav-item">
    <a class="nav-link" href="/usuarios/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/usuarios/registro">Registro</a>
  </li>
  {{/if}}
</ul>